*{
  margin: 0;
  padding: 0;
}*


html, body{
  font-family:"Avenir Next", "Hiragino Kaku Gothic ProN W3", sans-serif;
  background-color:#3399cc;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}
header{
  margin: 20px 80px;
}

img.homeimg{
  margin-left: auto;
  margin-right: auto;
  border-radius:80%;
  width:256px;
  height:256px;
}

#container{
    width:100%;
    position: relative;
    left: 50%;
    margin-left: -50%;
    text-align: center;
    font-size: 45px;
}

.intro-name {
    width: 250px;
    position: relative;
    left:60%;
    top: 10px;
    color:#4169e1; /*royalblue*/
    border-radius: 20px;
    background-color: #03dbfc;
    transform: translate(-125%, -10%);
    transition: all 1.5s ease 0s;
}
p.intro-name:hover {
    box-shadow: 0 0 30px rgba(0,0,0,0.5);
}

.intro:visited{
    text-decoration: underline;
    text-decoration-color: #C60;
}

#topintro{
    background-color: #fff;
    position: relative;
}

.intro{
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 10px;
    text-decoration: underline;
    text-align: center;
    font-size:25px;
    color:#C60;
    clear: both;
}
