body{
  font-family:"Avenir Next", "Hiragino Kaku Gothic ProN W3", sans-serif;
  background-color:#32CD32;
  margin: 0 0.5px;
}
header{
  margin: 20px 80px;
}
#topmain{
  height:40px;
  background-color:#FF69B4;
  background-position: 50% 50%;
  background-attachment: fixed;
  text-align: center;
  top:24%;
}

.menu{
  float: left;
  display: inline;
  text-align: left;
  margin-right: 23px;
  }
.imgintro{
  float:left;
  margin:0 20px
}
.school{
  font-size: 20px;
  color:#F0F;
}
.title{
  color:#F0F;
  float:left;
  margin:0 20px;

}
.school h2{
  font-size:16px;
}
.school span{
  font-size:17px;
}
.liketodo{
 font-size:20px;
 color:#F0F;
}
.liketodo h2{
  font-size: 16px;
}
.liketodo span{
  font-size:16px;;
}
.border{
  border-bottom: 2px solid #0FF;

}
