/*index CSS*/
body{
  font-family:"Avenir Next", "Hiragino Kaku Gothic ProN W3", sans-serif;
  background-color:#3399CC;
  margin: 0 0.5px;
}
header{
  margin: 20px 80px;
}
/* index↓*/
#topintro{
  background-color: #FFF:
}
.homeimg{
  border-radius: 80%;
  width:70px;
  height:70px;
  position:relative;
  float:left;
}
.intro-name{
  font-size:30px;
  color:#4169e1; /*royalblue*/
  float:left;
  margin-bottom:15px;
  margin-left:15px;
}
.intro{
  font-size:25px;
  color:#C60;
  float:left;
}
