body {
  font-family:"Avenir Next", "Hiragino Kaku Gothic ProN W3", sans-serif;
  /*background-color:#32CD32;*/
  margin: 0 0.5px;
}

header {
  text-align: center;
}
header > h1 {
  background: #FF69B4;
  margin-top: 0;
}
header > img {
  float: left;
  height:80px;
  margin:40px 80px 30px;
  width:100px;
}
header > h2 {
  /* img 要素の float の影響を受けなくする */
  clear: both;
}

section {
  color:#F0F;
  margin-bottom: 2rem;
  margin-left: 80px;
  margin-right:80px;
}

h3 {
  border-bottom: 2px solid #0FF;
  font-size: 26px;
  margin-bottom: 0;
}

p {
  font-size: 22px;
}

li {
  font-size: 22px;
}
