/*intro↓*/
body {
  font-family:"Avenir Next", "Hiragino Kaku Gothic ProN W3", sans-serif;
  background-color:#32CD32;
  margin: 0 0.5px;
}

#header{
  height:40px;
  background-color:#FF69B4;
  background-position: 50% 50%;
  background-attachment: fixed;
  text-align: center;
  top:24%;
}
.border{
  border-bottom: 2px solid #0FF;
}
.title{
  font-size:26px;
  margin: 10px 80px;
}
.passage{
  font-size:22px;
  margin: 10px 80px;
}
.link{
  font-size:22px;
  margin: 0 80px;
}
.pic{
margin:0 80px;
width:100px;
height:80px;
}
.contents{
  color:#F0F;
}
