*{
  margin: 0;
  padding: 0;
}*


html, body{
  font-family:"Avenir Next", "Hiragino Kaku Gothic ProN W3", sans-serif;
  background-color:#3399cc;
}
header{
  margin: 20px 80px;
}

img.homeimg{
  margin-left: auto;
  margin-right: auto;
  border-radius:80%;
  display:block;
  width:256px;
  height:256px;
}

.intro-name {
  position: fixed;
  top: 35.0%; left:52%;
  display: inline;
  font-size: 45px;
  text-decoration: none;
  color:#4169e1; /*royalblue*/
  padding: 10px;
  border-radius: 20px;
  background-color: #03dbfc;
  transform: translate(-60%, -50%);
  transition: all 1.5s ease 0s;
}
p.intro-name:hover {
  box-shadow: 0 0 30px rgba(0,0,0,0.5);
}

.intro:visited{
    text-decoration: underline;
    text-decoration-color: #C60;
}

#topintro{
  background-color: #fff:
}

.intro{
    display: inline;
    float:left;
    margin-left: auto;
    margin-right: auto
    padding: 5px 10px;
    text-decoration: underline;
    text-align: center;
    font-size:25px;
    color:#C60;
    clear: both;
}
