html, body{
  font-family:"Avenir Next", "Hiragino Kaku Gothic ProN W3", sans-serif;
  background-color:#3399CC;
  margin: 0;
}
/*header{
  margin: 20px 80px;
}*/

.homeimg{
  border-radius: 80%;
  width:40px;
  height:40px;
  position:relative;
  float:left;
}

.intro-name {
  position: absolute;
  top: 0%; left: 8%;
  display: block;
  font-size: 20px;
  text-decoration: none;
  color:#4169e1; /*royalblue*/
  padding: 20px;
  border-radius: 20px;
  background-color: #39c;
  transform: translate(-50%, -50%);
  /*** ↓重要なのはここ ***/
  transition: all 1s ease 0s;
}
.intro-name:hover {
  box-shadow: 0 0 30px rgba(0,0,0,0.5);
}
/* index↓*/

/*
#topintro{
  background-color: #fff:
}

.intro{
  margin:40px 40px;;
  font-size:25px;
  color:#C60;
}
*/
